{% extends "views/layouts/base.html" %}
{% block yield %}

<div class="slds-container--small slds-container--center">

  <div class="slds-m-bottom--small">
    {% if isNew %}
    <div class="slds-box slds-theme--info">
      <p>MavensMate uses the OAuth 2.0 Web Server Authentication Flow to authenticate to Salesforce. Select the type of Salesforce environment you are connecting to and click "Connect".</p>
    </div>
    {% endif %}

    {% if isUpdate %}
    <div class="slds-box slds-theme--info closeable" style="display:block;">
      <span id="success-open-alert-message"><i class="icon-info-sign icon-2x pull-left"></i>Please re-authenticate to Salesforce.</span>
    </div>
    {% endif %}
  </div>

  <form class="slds-form--stacked" action="/app/auth" method="POST">

    {% if project && project.settings && project.settings.id %}
    <input type="hidden" name="pid" value="{{project.settings.id}}" />
    {% endif %}
    <input type="hidden" name="callback" value="{{callback}}" />
    <input type="hidden" name="param1" value="{{param1}}" />

    <div class="slds-form-element">
      <label class="slds-form-element__label" for="select-01">Salesforce Environment Type</label>
      <div class="slds-form-element__control">
        <div class="slds-select_container">
          <select id="orgType" class="slds-select">
            <option value="production">Production</option>
            <option value="developer">Developer</option>
            <option value="sandbox">Sandbox</option>
            <option value="prerelease">Prerelease</option>
            <option value="custom">Custom URL</option>
          </select>
        </div>
      </div>
    </div>

    <div class="slds-form-element" style="display:none;" id="instanceUrlWrapper">
      <label class="slds-form-element__label" for="inputSample2">Salesforce Custom URL</label>
      <div class="slds-form-element__control">
        <input id="instanceUrl" name="instanceUrl" class="slds-input" type="text" placeholder="Example: https://na1-blitz01.salesforce.com">
      </div>
    </div>

    <div class="slds-form-element">
      <div class="slds-form-element__control">
        <button type="submit" class="slds-button slds-button--brand">Connect</button>
      </div>
    </div>

  </form>

</div>

{% endblock %}


{% block buttons %}
  <button class="slds-button slds-button--neutral" onclick="closeWindow();">Cancel</button>
{% endblock %}

{% block body_js %}

  <script type="text/javascript">
    $(function() {
      $('#orgType').change(function() {
        if ($(this).val() === 'custom') {
          $('#instanceUrlWrapper').show();
        } else {
          $('#instanceUrlWrapper').hide();
          $('#instanceUrlWrapper').val('');
        }
      });
    });
  </script>
{% endblock %}