{% if mavensmate.ui.doesClassOrTriggerExist(project, apexClassOrTriggerName, type) -%}
  <table class="code slds-table slds-table--bordered slds-no-row-hover">
    <tbody>
      {% for line in mavensmate.ui.getFileLines(project, apexClassOrTriggerName, type) -%}
        <tr>
          <td class="td-line-numbers">{{ loop.index }}</td>
          <td class="{{ {true:"covered", false:"uncovered slds-theme--error"}[uncoveredLines.indexOf(loop.index) === -1] }}">{{ mavensmate.ui.htmlize(line) }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{%- endif %}