<script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/jquery.fancytree.min.js" type="text/javascript"></script>
<script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/jquery.fancytree.filter.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ mavensmate.ui.getStaticResourcePath() }}/styles/skin-win8/ui.fancytree.css" />

<!-- TREE FILTER -->
<div class="slds-box slds-theme--shade slds-m-bottom--x-small" id="div-metadata-tree-filter">
  <div class="slds-grid">
    <div class="slds-col">
      <input type="text" placeholder="Search for metadata" id="txt-metadata-tree-search" class="slds-input" />
    </div>
    {% if namedDeployments %}
    <div class="slds-col slds-col--padded">
      <select id="select-metadata-tree-selected-deployment-name" class="slds-select">
        {% for d in namedDeployments %}
          {% if loop.index0 == 0 %}
            {% set selected = 'selected="selected"' %}
          {% else %}
            {% set selected = '' %}
          {% endif %}
          <option value="{{d.path}}">{{d.name}}</option>
        {% endfor %}
      </select>
    </div>
    {% endif %}
    <div class="slds-col {% if !namedDeployments %}slds-col--padded{% endif %}">
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button--neutral" id="btn-metadata-tree-clear-search" disabled="">Clear Search</button>
        {% if project %}
        <button class="slds-button slds-button--neutral" id="a-metadata-tree-select-all">Select all</button>
        <button class="slds-button slds-button--neutral" id="a-metadata-tree-select-none">Select none</button>
        <button class="slds-button slds-button--neutral" id="a-metadata-tree-collapse-all">Collapse</button>
        <button class="slds-button slds-button--neutral" id="a-metadata-tree-expand-all">Expand</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- fancytree WILL RENDER HERE -->
<div id="metadataTree"></div>

<script>
  mavensmate.MetadataTree = function(opts) {
    var self = this;
    opts = opts || {};
    this.filterEnabled = opts.filterEnabled || true;
    this.packageLocation = opts.packageLocation;
    this.fancytree = null;
    this.allSelected = false;
    this.metadata = opts.metadata; // for new projects only

    $("#txt-metadata-tree-search").off('keyup').on('keyup', function(e) {
      var code = (e.keyCode ? e.keyCode : e.which);
      if (code == 13) {
        self.search();
      }
    });

    $("#btn-metadata-tree-clear-search").off('click').on('click', function() {
      self.clearSearch();
    });

    {% if project %}
      $('#a-metadata-tree-select-all').off('click').on('click', function() {
        self.check(true);
      });

      $('#a-metadata-tree-select-none').off('click').on('click', function() {
        self.check(false);
      });

      $('#a-metadata-tree-collapse-all').off('click').on('click', function() {
        self.collapseAll();
      });

      $('#a-metadata-tree-expand-all').off('click').on('click', function() {
        self.expandAll();
      });

      $("#select-metadata-tree-selected-deployment-name").change(function() {
        console.log('selected a deployment!', this.value);
        self.packageLocation = this.value;
        self.render();
      });
    {% endif %}
  };

  /**
   * Helper map
   */
  mavensmate.MetadataTree.prototype.childMetadata = {{ mavensmate.ui.getChildTypes()|json|safe }}

  mavensmate.MetadataTree.prototype.getPackage = function() {
    var packageXml = {};
    try {
      var records = this.fancytree.getSelectedNodes();
      $.each(records, function(index, rec) {
        if (rec.data.level === 1) {
          var childXmlNames = rec.data.type.childXmlNames || [];
          var typeUsesFolders = rec.data.type.inFolder;
          var thisXmlName = rec.data.xmlName;
          var typeSupportsWildcard = childXmlNames.length === 0 && !typeUsesFolders;
          packageXml[thisXmlName] = typeSupportsWildcard ? '*' : [];
        } else if (rec.data.level === 2) {
          var parentType = rec.data.parentType;
          var thisPackageXmlName = rec.data.fullName;
          if (!packageXml[parentType]) {
            packageXml[parentType] = [];
            packageXml[parentType].push(thisPackageXmlName);
          } else if (packageXml[parentType] !== '*') {
            packageXml[parentType].push(thisPackageXmlName);
          }
        } else if (rec.data.level === 3) {
          var nodeType = rec.data.nodeType;
          var parentType = rec.data.parentType;
          var thisPackageXmlName = rec.data.fullName;
          if (nodeType === 'child') {
            // pass, we this is a tag name for a child type
            // we don't care whether this is selected bc it doesn't support * anyway
          } else if (nodeType === 'folderItem') {
            if (!packageXml[parentType]) {
              packageXml[parentType] = [];
            }
            // add folder item
            packageXml[parentType].push(thisPackageXmlName);
          }
        } else if (rec.data.level === 4) {
          var parentType = rec.data.parentType;
          var objectName = rec.data.objectName;
          if (packageXml[parentType] && packageXml[parentType].indexOf(objectName) !== -1) {
            // pass, the top-level selection means the entire object has been subscribed to
          } else {
            // in this case, the user is subscribing to only a portion of the object
            if (!packageXml[rec.parent.data.xmlName]) {
              packageXml[rec.parent.data.xmlName] = [];
            }
            packageXml[rec.parent.data.xmlName].push(rec.data.fullName);
          }
        }
      });
    } catch(e) {
      console.error('Error getting tree package', e);
      return [];
    }
    return packageXml;
  }

  /**
   * Selects or deselects all visible nodes
   */
  mavensmate.MetadataTree.prototype.check = function(yesOrNo) {
    this.fancytree.getRootNode().visit(function(node){
      if ($("#txt-metadata-tree-search").val() === '') {
        node.setSelected(yesOrNo);
      } else {
        if ($(node.span).hasClass('fancytree-match')) {
          node.setSelected(yesOrNo);
        }
      }
    });
  };

  /**
   * Renders a lazy load tree (used when creating a new project)
   */
  mavensmate.MetadataTree.prototype.renderBuffered = function() {
    var self = this;
    try { $('#metadataTree').fancytree('destroy'); } catch(e) {}

    var defaultSubcription = {{ mavensmate.ui.getDefaultSubscription()|json|safe }};

    $.each( self.metadata, function( key, value ) {
      value.text = value.xmlName;
      value.title = value.xmlName;
      value.key = value.xmlName;
      value.folder = true;
      value.selected = defaultSubcription.indexOf(value.xmlName) >= 0 ? true : false;
      value.lazy = true;
      value.level = 1;
      value.packageId = value.xmlName;
      value.type = {
        directoryName: value.directoryName,
        inFolder: value.inFolder,
        metaFile: value.metaFile,
        suffix: value.suffix,
        xmlName: value.xmlName,
        childXmlNames: value.childXmlNames
      }
    });

    $('#metadataTree').fancytree({
      ajaxDefaults: { // Used by initAjax option
        timeout: 600000, // >0: Make sure we get an ajax error for invalid URLs
      },
      source: self.metadata,
      checkbox: true,
      selectMode: 3,
      debugLevel: 2,
      toggleEffect: false,
      extensions: ["filter"],
      filter: {
        autoApply: true, // Re-apply last filter if lazy data is loaded
        counter: true, // Show a badge with number of matching child nodes near parent icons
        hideExpandedCounter: true, // Hide counter badge, when parent is expanded
        mode: "hide"  // "dimm": Grayout unmatched nodes, "hide": remove unmatched nodes
      },
      lazyLoad: function(event, data) {
        var dfd = new $.Deferred();
        data.result = dfd.promise();

        var node = data.node;
        var opts = {
          ajax: {
            type: 'POST',
            url: '/execute?async=1',
            data: JSON.stringify({
              metadataTypes: [ node.data.xmlName ],
              accessToken: $('#accessToken').val(),
              refreshToken: $('#refreshToken').val(),
              instanceUrl: $('#instanceUrl').val(),
              command: 'list-metadata'
            })
          }
        };
        mavensmate.request(opts)
          .then(function(response) {
            console.log('list metadata response', response);
            dfd.resolve(response.result[0].children);
          })
          .catch(function(err) {
            console.error('could not list metadata for node', err);
          });
      }
    });
    self.fancytree = $("#metadataTree").fancytree("getTree");
  };

  /**
   * Renders the tree to the DOM
   */
  mavensmate.MetadataTree.prototype.render = function() {
    var self = this;
    try {
      $("#metadataTree").fancytree("destroy");
    } catch(e) {}

    $('#metadataTree').fancytree({
      source: {
        type: 'GET',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        url: '/app/project/{{project.id}}/index?pid={{project.id}}&pkg='+(self.packageLocation ? encodeURI(self.packageLocation) : '')
      },
      extensions: ["filter"],
      filter: {
        autoApply: true, // Re-apply last filter if lazy data is loaded
        counter: true, // Show a badge with number of matching child nodes near parent icons
        hideExpandedCounter: true, // Hide counter badge, when parent is expanded
        mode: "hide"  // "dimm": Grayout unmatched nodes, "hide": remove unmatched nodes
      },
      checkbox: true,
      selectMode: 3,
      debugLevel: 1,
      toggleEffect: false,
      persist: false,
      selectedIds: '',
      select: function(check, node) {
        var selectedNodes = self.fancytree.getSelectedNodes();
        var ids = $.map(selectedNodes, function(node) {
          return node.data.packageId;
        });
        self.selectedIds = ids;
      },
      init: function(event, data) {
        if (!self.selectedIds) {
          self.selectedIds = [];
          var selected = self.fancytree.getSelectedNodes();
          var ids = $.map(selected, function(node){
            return node.data.packageId;
          });
          self.selectedIds = ids;
        }
        var filter = $("#txt-metadata-tree-search").val();
        if (filter && filter.length > 2) {
          self.fancytree.getRootNode().visit(function(node){
            node.setExpanded(true);
          });
        }
      }
    });
    self.fancytree = $("#metadataTree").fancytree("getTree");
  };

  mavensmate.MetadataTree.prototype.collapseAll = function(yesOrNo) {
    this.fancytree.getRootNode().visit(function(node){
      node.setExpanded(false);
    });
  };

  mavensmate.MetadataTree.prototype.expandAll = function(yesOrNo) {
    this.fancytree.getRootNode().visit(function(node){
      node.setExpanded(true);
    });
  };

  /**
   * Submits a server search based on the value of #txt-metadata-tree-search
   */
  mavensmate.MetadataTree.prototype.search = function() {
    var filter = $('#txt-metadata-tree-search').val();
    if (filter && filter.length > 2) {
      this.fancytree.filterNodes(filter);
      $('#btn-metadata-tree-clear-search').removeAttr('disabled');
    }
  };

  /**
   * Clears the search and re-renders the tree
   */
  mavensmate.MetadataTree.prototype.clearSearch = function() {
    this.fancytree.clearFilter();
    $('#txt-metadata-tree-search').val('');
    $('#txt-metadata-tree-search').focus();
    $('#btn-metadata-tree-clear-search').attr('disabled', '');
  };
</script>