html, body {
  height: 100%;
}

#frame-left-column {
  width:70px;
}

#frame-right-column {
  width: calc(100% - 70px);
}

#mmlogo {
	width:150px;
	padding-top: 2px;
}

ul.dynatree-container {
	border: none !important;
}

#left-menu .slds-dropdown--actions a {
  color: #0070d2;
  text-decoration: none;
}

#page-header-loading-indicator {
  display: none;
  top: -17px;
  left: -20px;
}

#page-header-buttons {
  position: relative;
}

#top-menu {
	padding: 0.2rem 0.4rem;
}

.app-launcher svg {
  width: 6rem;
  height: 6rem;
}

#top-menu #top-menu-loading-indicator {
    top: 19px;
    right: 0.7rem;
    left: inherit;
    display: none;
}

#page-header {
  padding: 0.7rem 0.8rem;
  box-shadow: 1px 1px 2px #ccc;
  position: relative;
  position: fixed;
  z-index: 99;
  width: calc(100% - 70px);
  background: #fff;
}

#top-menu a {
	color: #16325c;
	text-decoration: none;
}

#top-menu .slds-button__icon {
	fill:#fff;
	width: 1.5rem;
	height: 1.5rem;
}

#top-menu .slds-nubbin--top:before,
#top-menu .slds-nubbin--top:after {
	left:15px;
}

.slds-dropdown-trigger > [class*="slds-button--icon"] ~ .slds-dropdown--left[class*="slds-nubbin"] {
	left:0px;
}

#settings-wrapper input.setting {
  font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
}
#settings-wrapper .ace-tm .ace_string {
  color: #54698d;
}
#settings-wrapper .ace-tm .ace_constant.ace_language {
  color: #d54d53;
}
#settings-wrapper .ace_editor.ace-tm {
  background-color: #f4f6f9;
}

.dynatree-hidden {
  display: none;
}

div#div-metadata-tree-filter,
div#div-test-classes-filter,
div#div-project-list-filter {
  padding:0.5rem;
}

.progress {
  background-color: #f4f6f9;
  border: 1px solid white;
  height: 1.38889rem;
  padding: 0.11111rem;
  border-radius: 3px;
  display: block;
}

.progress .meter {
  border-radius: 2px;
  display: block;
  height: 100%;
  width: 0%;
}

span.coverage {
  display: inline-block;
  width:4rem;
}

div.progress-wrapper {
  display: inline-block;
  width: 10rem;
}

table tr.tr-coverage-wrapper {
  display: none;
}

table.code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 80%;
}

table.code td {
  padding: 0.25rem;
}

table.table-apex-code-test-results tr.tr-coverage-wrapper:hover > td,
table.code > tbody > tr:hover > td.covered,
table.code > tbody > tr:hover > td.td-line-numbers {
  box-shadow: none !important;
  background-color: inherit !important;
}

table.code > tbody > tr:hover > td.uncovered {
  box-shadow: none !important;
  background-color: #c23934; /* todo: move to token */
}

table#table-apex-test-classes > tbody > tr,
table#table-project-list > tbody > tr {
  cursor: pointer;
}


th.tablesorter-header {
  cursor: pointer;
}

h3.h3-test-class-name > span {
  text-transform: none;
}

svg.left-menu-dashboard {
  width: 1.5rem;
  height: 1.5rem;
}