{% extends "views/layouts/base.html" %}
{% block yield %}

<form class="slds-form--stacked">
  <fieldset>
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="apiName">API Name</label>
      <div class="slds-form-element__control">
        <input class="slds-input" placeholder="Name" type="text" id="apiName">
      </div>
    </div>
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="description">Description</label>
      <div class="slds-form-element__control">
        <input class="slds-input" placeholder="Description" type="text" id="description">
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}


{% block buttons %}
  <input type="button" id="btnSubmit" class="slds-button slds-button--brand" value="{{title}}" onclick='create();'>
  {% include 'views/partials/cancel_button.html' %}
{% endblock %}

{% block body_js %}
  <script type="text/javascript">
    function create() {
      var opts = {
        ajax: {
          type: 'POST',
          url: "{{ mavensmate.ui.getBaseUrl() }}/app/lightning/bundles",
          data: JSON.stringify({
            metadataTypeXmlName: 'AuraDefinitionBundle',
            lightningType: '{{lightningType|capitalize}}',
            apiName : $("#apiName").val(),
            description : $("#description").val()
          })
        },
        message: {
          label: 'Creating new Lighting {{lightningType|capitalize}}...'
        }
      };

      mavensmate.request(opts)
        .then(function(response) {
          console.log(response);
          setTimeout(function() {
            window.location = '{{ mavensmate.ui.getBaseUrl() }}/app/lightning/bundles/'+response.result.id+'?pid={{project.id}}';
          }, 1000);
        })
        .catch(function(err) {
          console.error('could not create lighting app', err);
        })
        .finally(function() {
          hideLoading();
        });
    }
  </script>
{% endblock %}