{% extends "views/layouts/base.html" %}
{% block yield %}
<style>
	input.setting {
		font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
	}
	label.label-checkbox {
		display: inline-block;
	}
	label.label-checkbox {
	  margin-bottom: 0px;
	}
	label.settingsLabel {
		font-weight: 600;
		display: inline-block;
	}
	.ace-tm .ace_string {
	  color: #16a085;
	}
	.ace-tm .ace_constant.ace_language {
	  color: #d54d53;
	}
	.ace_editor.ace-tm {
		background-color: #f9f9f9;
	}
	div.infobox {
		display: block;
	}
	.dialog.infobox {
		text-align: left;
		width:600px;
		padding:10px;
		font-size:14px;
		margin-bottom:10px;
		margin-top:5px;
	}
	.running_indicator {
		right:25px;
	}
</style>
<script src="{{ mavensmate.ui.getStaticResourcePath() }}/editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ mavensmate.ui.getStaticResourcePath() }}/editor/mode-java.js" type="text/javascript" charset="utf-8"></script>

<div id="result_output">
	<div class="alert alert-error">
		<button type="button" class="close fui-cross"></button>
		<span id="error_message"></span>
	</div>
</div>

<div class="content">
	<ul class="nav nav-tabs nav-append-content">
		<li class="active"><a id="settings_tab" href="#form" data-toggle="tab">MavensMate Settings</a></li>
	</ul>
	<div class="tab-content" id="main-tab-content">
		<div id="form" class="tab-pane active">
			<form class="form-stacked">
				<fieldset style="padding-top:10px;">
					<!-- this is only here to prevent bootstrap from auto-selecting the first input -->
					<input class="span12" class="form-control" type="text" style="display: none;"/>

					{% for settingKey, settingValue in userSettings %}
						{% if defaultSettings[settingKey] %}
							<div class="control-group large" id="{{ settingKey }}-group" style="margin-bottom:20px;">
								<!-- string or integer -->
								{% if defaultSettings[settingKey].type === 'string' || defaultSettings[settingKey].type === 'integer' %}
									<label class="settingsLabel" for="{{ settingKey }}">
										{{ defaultSettings[settingKey].title }} ({{ settingKey }})
									</label>
									{% if defaultSettings[settingKey].description %}
										<div class="dialog dialog-info infobox {{ settingKey }}-info">
											<span><i class="icon icon-info-sign" onclick="toggleInfo(this)"></i>&nbsp;{{ defaultSettings[settingKey].description }}

												{% if defaultSettings[settingKey].example %}
													<br/><br/><b>Example:</b><br/>
													{{ defaultSettings[settingKey].example|safe }}
												{% endif %}
											</span>
										</div>
									{% endif %}
									<input class="span12 setting" class="form-control" id="{{ settingKey }}" type="text" value="{{ settingValue }}"/>
								{% endif %}
								<!-- array or object -->
								{% if defaultSettings[settingKey].type === 'array' || defaultSettings[settingKey].type === 'object' %}
									<label class="settingsLabel" for="{{ settingKey }}">
										{{ defaultSettings[settingKey].title }} ({{ settingKey }})
									</label>
									{% if defaultSettings[settingKey].description %}
										<div class="dialog dialog-info infobox {{ settingKey }}-info">
											<span><i class="icon icon-info-sign" onclick="toggleInfo(this)"></i>&nbsp;{{ defaultSettings[settingKey].description }}
												{% if defaultSettings[settingKey].example %}
													<br/><br/><b>Example:</b><br/>
													{{ defaultSettings[settingKey].example|safe }}
												{% endif %}
											</span>
										</div>
									{% endif %}
									<div style="height:110px;width:620px;">
										<textarea data-editor="java" rows="15" class="form-control setting" id="{{ settingKey }}">{{ JSON.stringify(settingValue, null, 2) }}</textarea>
									</div>
								{% endif %}
								<!-- boolean -->
								{% if defaultSettings[settingKey].type === 'boolean' %}
								    <label class="checkbox label-checkbox" for="{{ settingKey }}">
								      <input type="checkbox" class="setting-chk" {% if settingValue === true %}checked="checked"{% endif %} id="{{ settingKey }}" data-toggle="checkbox">
								      {{ defaultSettings[settingKey].title }} ({{ settingKey }})
								    </label>
								    {% if defaultSettings[settingKey].description %}
								    	<div class="dialog dialog-info infobox {{ settingKey }}-info">
								    		<span><i class="icon icon-info-sign" onclick="toggleInfo(this)"></i>&nbsp;{{ defaultSettings[settingKey].description }}

								    			{% if defaultSettings[settingKey].example %}
								    				<br/><br/><b>Example:</b><br/>
								    				{{ defaultSettings[settingKey].example|safe }}
								    			{% endif %}
								    		</span>
								    	</div>
								    {% endif %}
								{% endif %}
							</div>
						{% endif %}
					{% endfor %}
				</fieldset>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block buttons %}
	{% include 'views/partials/running_indicator.html' %}
{% endblock %}

{% block body_js %}
	<script>
		'use strict';

		function toggleInfo(el) {
			var infoBox = $(el).next();
			infoBox.toggle();
		}

		$(function() {
			$('label.checkbox input').checkbox();
			$('[data-toggle="tooltip"]').tooltip();

			$('textarea[data-editor]').each(function () {
        var textarea = $(this);
        var wrappingDiv = textarea.parent();
        var editDiv = $('<div>', {
            position: 'absolute',
            width: wrappingDiv.width(),
            height: wrappingDiv.height(),
            'class': textarea.attr('class')
        }).insertBefore(textarea);
        textarea.css('display', 'none');
        var editor = ace.edit(editDiv[0]);
        editor.renderer.setShowGutter(false);
        editor.getSession().setValue(textarea.val(), -1);
        editor.getSession().setMode('ace/mode/javascript');
        editor.getSession().setUseWrapMode(true);
        editor.setFontSize(14);
        editor.getSession().setTabSize(2);
        editor.resize();
        editor.on('blur', function() {
        	textarea.val(editor.getSession().getValue());
        	var settingValue = textarea.val();
        	var settingKey = textarea.attr('id');
        	updateSettings(settingValue, settingKey);
        });
    	});

			$( 'input.setting, textarea.setting' ).blur(function() {
			  var settingValue = $(this).val();
			  var settingKey = $(this).attr('id');
			  updateSettings(settingValue, settingKey);
			});

			$('.setting-chk').on('change.radiocheck', function() {
				var settingValue = $(this).is(':checked');
				var settingKey = $(this).attr('id');
				console.log(settingValue);
				console.log(settingKey);
				updateSettings(settingValue, settingKey);
			});

			$('div.tab-content').focus();

		});

		function updateSettings(settingValue, settingKey) {
			$.ajax({
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				url: '{{ mavensmate.ui.getBaseUrl() }}/app/settings',
				data: JSON.stringify({
					settingValue: settingValue,
					settingKey: settingKey
				}),
				beforeSend: function() { toggleRunningIndicator(); },
				complete: function(data){
					console.log('config update done ...');
					console.log(data);
					setTimeout(function() { toggleRunningIndicator() }, 500);
					var res = JSON.parse(data.responseText);
					if (res.error) {
						showMessage(res.error);
					} else {
						hideMessage();
					}
				}
		 	});
		}
	</script>
{% endblock %}