{% extends "views/layouts/base.html" %}
{% block yield %}

{% if isUpdate %}
	<script>
		$(function() {
			showToast('Successfully updated project credentials', 'success', null, 5000);
		});
	</script>
{% endif %}

<div class="slds-tabs--scoped" data-aljs="tabs">
  <ul class="slds-tabs--scoped__nav" role="tablist">
      <li class="slds-tabs--scoped__item slds-text-heading--label" title="Subscription" role="presentation"><a class="slds-tabs--scoped__link" href="#" role="tab" tabindex="0" aria-selected="false" aria-controls="tab-default-1" data-aljs-show="tab-default-1">Subscription</a></li>
      <li class="slds-tabs--scoped__item slds-text-heading--label" title="Advanced" role="presentation"><a class="slds-tabs--scoped__link" href="#" role="tab" tabindex="-1" aria-selected="true" aria-controls="tab-default-2" data-aljs-show="tab-default-2" id="tab-project-metadata">Project Metadata</a></li>
  </ul>
  <div id="tab-default-1" class="slds-tabs--scoped__content slds-hide" role="tabpanel">

  	<div class="slds-box slds-theme--shade slds-m-bottom--x-small" id="div-metadata-types-filter">
  	  <div class="slds-grid">
  	    <div class="slds-col slds-has-flexi-truncate">
  	      <input type="text" placeholder="Search for metadata type" id="txt-metadata-types-search" class="slds-input" />
  	    </div>
  	  </div>
  	</div>

  	<table id="table-metadata-types" class="slds-table slds-table--bordered slds-table--fixed-layout" role="grid">
  	  <thead>
  	    <tr class="slds-text-heading--label">
  	    	<td role="gridcell" class="slds-cell-shrink" scope="col">
		        &nbsp;
		      </td>
		      <th scope="col">
		        <div class="" title="Metadata Type">Metadata Type</div>
		      </th>
  	    </tr>
	    </thead>
	    <tbody>
	    	{% set subscription = mavensmate.ui.getSubscription(project) %}
	    	{% for m in mavensmate.ui.getMetadataObjects(project) %}
		    	<tr class="slds-hint-parent {% if subscription.indexOf(m.xmlName) >= 0 %}slds-is-selected{% endif %}" data-xml-name="{{m.xmlName}}">
		    		<td role="gridcell" class="slds-cell-shrink" data-label="Select row Cloudhub">
			        <label class="slds-checkbox">
			          <input
			          	type="checkbox"
			          	class="chk-metadata-type"
			          	data-class-name={{m.xmlName}}
			          	{% if subscription.indexOf(m.xmlName) >= 0 %}checked{% endif %}
			          	/>
			          <span class="slds-checkbox--faux"></span>
			          <span class="slds-assistive-text">Select row {{m.xmlName}}</span>
			        </label>
			      </td>
			      <th scope="row" data-label="{{m.xmlName}}">
			      	<div class="" title="{{m.xmlName}}">{{m.xmlName}}</div>
			      </th>
		    	</tr>
		    {% endfor %}
	    </tbody>
    </table>
  </div>
  <div id="tab-default-2" class="slds-tabs--scoped__content slds-hide" role="tabpanel">
  {% include 'views/partials/metadata_tree.html' %}
  </div>
</div>

{% endblock %}

{% block buttons %}
	<button class="slds-button slds-button--brand" onclick="updateProject()">Update Project</button>
	<button class="slds-button slds-button--neutral" onclick="indexOrg()">Refresh Metadata</button>
{% endblock %}

{% block body_js %}
	<script>
		var metadataTree;
		var isMetadataIndexDirty = false;
		$(function() {
	    $('[data-aljs="tabs"]').tabs({
	    	defaultTabId: 'tab-default-2'
	    });

	    $('table#table-metadata-types > tbody > tr').on('click', function() {
	    	var $chkBox = $(this).find('input.chk-metadata-type');
	    	$chkBox.prop('checked', !$chkBox.prop('checked'));
	    	if ($chkBox.prop('checked')) {
	    		$(this).addClass('slds-is-selected');
	    	} else {
	    		$(this).removeClass('slds-is-selected');
	    	}
	    	updateSubscription();
	    });

	    $('input#txt-metadata-types-search').change(function() {
	      var thevalue = $(this).val().toLowerCase();
	      $('#table-metadata-types > tbody > tr > th > div').each(function() {
	          var metadataType = $(this).html().toLowerCase();
	          if (metadataType.indexOf(thevalue) === -1) {
	            $(this).parent().parent().hide().removeClass('invisible').addClass('invisible');
	          } else {
	            $(this).parent().parent().show().removeClass('invisible');
	          }
	      });
	    })
	    .keyup(function() {
	       $(this).change();
	    });

	    $('a#tab-project-metadata').on('click', function() {
	    	if (isMetadataIndexDirty) {
	    		indexOrg();
	    	}
	    });

	    if ({{ project.serverStore.hasIndex() }}) {
	    	metadataTree = new mavensmate.MetadataTree();
	    	metadataTree.render();
	    } else {
	    	indexOrg();
	    }
		});

		function updateSubscription() {
			var selectedMetadataTypes = [];
			_.each($('#table-metadata-types > tbody > tr.slds-is-selected'), function(item) {
				selectedMetadataTypes.push($(item).data('xml-name'));
			});

			var opts = {
				async: false,
				ajax: {
					type: 'POST',
					url: "{{ mavensmate.ui.getBaseUrl() }}/app/project/{{project.id}}/subscription?pid={{project.id}}",
					data: JSON.stringify({
			    	subscription: selectedMetadataTypes
					})
				},
				message: {
					label: 'Updating project subscription...'
				}
		 	};

			mavensmate.request(opts)
				.then(function(response) {
					showToast(response.message, 'success');
					isMetadataIndexDirty = true;
				})
				.catch(function(err) {
					console.error('could not update subscription', err);
				})
				.finally(function() {
					hideLoading();
				});
		}

		function updateProject() {
			var opts = {
				ajax: {
					type: 'POST',
					url: '{{ mavensmate.ui.getBaseUrl() }}/app/project/{{project.id}}?pid={{project.id}}',
					data: JSON.stringify({
						package: metadataTree.getPackage()
					})
				},
				message: {
					label: 'Updating MavensMate project...'
				}
		 	};

			mavensmate.request(opts)
				.then(function(response) {
					showToast('Project updated successfully', 'success');
				})
				.catch(function(err) {
					console.error('could not update project', err);
				})
				.finally(function() {
					hideLoading();
				});
		}

		function indexOrg() {
			var opts = {
				ajax: {
					type: 'POST',
					url: "{{ mavensmate.ui.getBaseUrl() }}/app/project/{{project.id}}/index"
				},
				message: {
					label: 'Updating metadata index...',
					detail: ' This operation can take a few minutes in large orgs. To minimize indexing time, limit your project\'s subscription to only those metadata types you absolutely need.<br/><br/>Thanks for being patient! :)'
				}
		 	};

			mavensmate.request(opts)
				.then(function(response) {
					if (!metadataTree) {
						metadataTree = new mavensmate.MetadataTree();
						metadataTree.render();
					} else {
						metadataTree.fancytree.reload();
					}
					isMetadataIndexDirty = false;
					showToast('Project metadata index updated successfully', 'success');
				})
				.catch(function(err) {
					console.error('could not update index', err);
				})
				.finally(function() {
					hideLoading();
				});
		}
	</script>

{% endblock %}