{% extends "views/layouts/base.html" %}
{% block yield %}

<div class="slds-tabs--scoped" data-aljs="tabs">
  <ul class="slds-tabs--scoped__nav" role="tablist">
      <li class="slds-tabs--scoped__item slds-text-heading--label" title="Project Details" role="presentation"><a class="slds-tabs--scoped__link" href="#" role="tab" tabindex="0" aria-selected="true" aria-controls="tab-default-1" data-aljs-show="tab-default-1">Project Details</a></li>
      <li class="slds-tabs--scoped__item slds-text-heading--label" title="Advanced" role="presentation"><a class="slds-tabs--scoped__link" href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" data-aljs-show="tab-default-2">Advanced</a></li>
      <li class="slds-tabs--scoped__item slds-text-heading--label" title="Metadata" role="presentation"><a class="slds-tabs--scoped__link" href="#" role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-3" data-aljs-show="tab-default-3">Metadata</a></li>
  </ul>
  <div id="tab-default-1" class="slds-tabs--scoped__content slds-hide" role="tabpanel">

  	<form class="slds-form--stacked">
  		<input type="hidden" value="{{ accessToken }}" id="accessToken"/>
  		<input type="hidden" value="{{ refreshToken }}" id="refreshToken"/>
  		<input type="hidden" value="{{ instanceUrl }}" id="instanceUrl"/>

  		<fieldset>
  			<div class="slds-form-element">
  			  <label class="slds-form-element__label" for="inputSample2">Workspace</label>
  			  <div class="slds-form-element__control">
  			  	<select id="workspace" class="slds-select"
  			  		data-placeholder="Select a workspace" data-none-selected-text="No workspace selected (To configure workspaces, set your mm_workspace setting in your MavensMate text editor plugin settings)" data-size="5">
  			  		{% for m in mavensmate.ui.getWorkspaces() %}
  			  			<option value="{{ m }}">{{ m }}</option>
  			  		{% endfor %}
  			  	</select>
  			  </div>
  			</div>

  			<div class="slds-form-element slds-m-top--medium large">
  				<label class="slds-form-element__label" for="inputSample2">Project Name</label>
  				<div class="slds-form-element__control">
  					<input class="slds-input" placeholder="Project Name" type="text" id="pn">
  				</div>
  			</div>

  			<div class="slds-form-element slds-m-top--medium large">
  				<label class="slds-form-element__label" for="inputSample2">Salesforce.com Username</label>
  				<div class="slds-form-element__control">
  					<input class="slds-input" placeholder="Salesforce.com Username" type="text" id="un" value="{{session.username}}" disabled="disabled">
  				</div>
  			</div>

  		</fieldset>
  	</form>
  </div>
  <div id="tab-default-2" class="slds-tabs--scoped__content slds-hide" role="tabpanel">
  	<form class="slds-form--stacked">
			<div class="slds-box slds-theme--info slds-m-bottom--medium">
				<ul>
					<li>
						If you only plan to work with certain metadata types in this project, specify those types here. Otherwise, MavensMate will index each metadata type available in your org. In larger orgs, this can negatively impact performance.
					</li>
					<li>
						You can update your project's metadata subscription at any time.
					</li>
					<li>
						The default list of metadata types is controlled by your plugin client's <strong>mm_default_subscription</strong> setting.
					</li>
				</ul>
			</div>
  		<fieldset>
  			<div class="slds-form-element">
  				<label class="slds-form-element__label" for="">Metadata Subscription</label>
  				<div class="slds-form-element__control" id="subscriptionWrapper">
  					<!-- populated by dynamic org data -->
  				</div>
  			</div>
  		</fieldset>
  	</form>
  </div>
  <div id="tab-default-3" class="slds-tabs--scoped__content slds-hide" role="tabpanel">
    {% include 'views/partials/metadata_tree.html' %}
  </div>
</div>
{% endblock %}

{% block buttons %}
	<button class="slds-button slds-button--brand" onclick="newProject()">Create Project</button>
	{% include 'views/partials/cancel_button.html' %}
{% endblock %}

{% block body_js %}

	<script type="text/javascript">
		var metadataTree;
    var isSubscriptionListBuilt = false;
		var defaultSubscription = [
			"{{ mavensmate.ui.getDefaultSubscription()|join('", "') }}"
		];

		$(function() {
			$('[data-aljs="tabs"]').tabs();
      metadataTree = new mavensmate.MetadataTree({
        metadata: {{ session.metadataTypes|json|safe }}
      });
      metadataTree.renderBuffered();
      if (!isSubscriptionListBuilt) {
        buildSubcriptionList({{ session.metadataTypes|json|safe }});
      }
		});

		function newProject() {
			var opts = {
				ajax: {
					type: 'POST',
					url: '{{ mavensmate.ui.getBaseUrl() }}/app/project',
					data: JSON.stringify({
						name: $('#pn').val(),
						accessToken: $('#accessToken').val(),
						refreshToken: $('#refreshToken').val(),
						instanceUrl: $('#instanceUrl').val(),
						package: metadataTree.getPackage(),
						workspace: $('#workspace').val(),
						subscription: $('#subscription').val(),
						action: 'new'
					})
				},
				message: {
					label: 'Creating new MavensMate project...',
					detail: 'This could take a while depending on the amount of metadata selected. Thanks for being patient! :)'
				}
		 	};

			mavensmate.request(opts)
				.then(function(response) {
					var newProjectId = response.result.id;
					window.location = '{{ mavensmate.ui.getBaseUrl() }}/app/project/'+newProjectId+'/edit?pid='+newProjectId+'&new=1';
				})
				.catch(function(err) {
					console.error('could not create project', err);
				})
				.finally(function() {
					hideLoading();
				});
		}

		function buildSubcriptionList(orgMetadataTypes) {
			console.log('building sub list!');
			console.log(orgMetadataTypes);
			var htmlWithSelectOptions = '';
			for (var t in orgMetadataTypes) {
				var xmlName = orgMetadataTypes[t].xmlName;
				if ($.inArray( xmlName, defaultSubscription ) >= 0) {
					htmlWithSelectOptions += '<option value="'+xmlName+'" selected>'+xmlName+'</option>';
				} else {
					htmlWithSelectOptions += '<option value="'+xmlName+'">'+xmlName+'</option>';
				}
			}
			var selectList = '<select name="huge" class="select-block mbl info" id="subscription" multiple="multiple" data-placeholder="Select 1 or more metadata types..." data-selected-text-format="count>3" data-size="20">';
			htmlWithSelectOptions = selectList+htmlWithSelectOptions+'</select>';
			console.log(htmlWithSelectOptions);
			$('#subscriptionWrapper > div').remove();
			$('#subscriptionWrapper > select').remove();
			$('#subscriptionWrapper').append(htmlWithSelectOptions);
			isSubscriptionListBuilt = true;
		}
	</script>
{% endblock %}