{% extends "views/layouts/base.html" %}
{% block yield %}
<style>
	div#main-tab-content .select.select-block {
		width: 712px;
	}
</style>
<div id="result_output">
	<div class="alert alert-error">
		<button type="button" class="close fui-cross"></button>
		<span id="error_message"></span>
	</div>
</div>

<div class="alert alert-success" id="success-open-alert" style="display:none;">
	<button type="button" class="close fui-cross"></button>
	<span id="success-open-alert-message"></span>
	<br/>
	{% if !editor %}
		{% for editorName, editorPath in mavensmate.ui.getClient().supportedEditors %}
			<a class="btn btn-info btn-embossed btn-wide" href="javascript:void(0)" onclick="openProjectInEditor('{{editorName}}', newProjectId);">Open in {{ editorName|capitalize }}</a>
		{% endfor %}
	{% endif %}
</div>

<div class="content">

	<ul class="nav nav-tabs nav-append-content">
		<li class="active"><a id="project_details_tab" href="#form" data-toggle="tab">Project Details</a></li>
		<li><a href="#advanced" data-toggle="tab">Advanced</a></li>
		<li>
			<a href="#metadata" data-toggle="tab">
				Project Metadata &nbsp;&nbsp;
				<span onclick="populateMetadataTree('Refreshing Metadata...')" class="label" style="line-height:15px;cursor:pointer;">
					Refresh <i class="icon-refresh"></i>
				</span>
			</a>
		</li>
	</ul>

	<div class="tab-content" id="main-tab-content">
		<div id="form" class="tab-pane active">
			<form class="form-stacked">
				<input type="hidden" value="{{ accessToken }}" id="accessToken"/>
				<input type="hidden" value="{{ refreshToken }}" id="refreshToken"/>
				<input type="hidden" value="{{ instanceUrl }}" id="instanceUrl"/>
				<fieldset>
					<div class="control-group large">
						<select id="workspace" class="select-block mbl info span12"
							data-placeholder="Select a workspace" data-none-selected-text="No workspace selected (To configure workspaces, set your mm_workspace setting in your MavensMate text editor plugin settings)" data-size="5">
							{% for m in mavensmate.ui.getWorkspaces() %}
								<option value="{{ m }}">{{ m }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="control-group large">
						<input class="span12" placeholder="Project Name" type="text" id="pn">
					</div>
					<div class="control-group large disabled">
						<input class="span12" placeholder="Salesforce.com Username" type="text" id="un" value="{{session.username}}" disabled="disabled">
					</div>
				</fieldset>
			</form>
		</div>

		<div id="advanced" class="tab-pane">
			<form class="form-stacked" style="padding-top:10px;">
				<fieldset>
					<div class="clearfix" id="subscriptionWrapper">
						<label for="subscription" style="font-weight:bold;">Metadata Subscription List</label>
						<!-- populated by dynamic org data -->
					</div>
					<div class="clearfix">
						<div class="alert alert-info" style="margin-top:20px">
							<ul>
								<li>
									If you only plan to work with certain metadata types in this project, specify those types here. Otherwise, MavensMate will index each metadata type available in your org. In larger orgs, this can negatively impact performance.
								</li>
								<li>
									You can update your project's metadata subscription at any time.
								</li>
								<li>
									The default list of metadata types is controlled by your plugin client's <strong>mm_default_subscription</strong> setting.
								</li>
							</ul>

						</div>
					</div>
				</fieldset>
			</form>
		</div>

		<div id="metadata" class="tab-pane">
			<div id="project_wrapper">
				<div id="treewrapper">
					<div id="tree"></div>
					<div id="info"></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block buttons %}
	<input type="button" id="btnSubmit" class="btn btn-info btn-embossed btn-embossed" value="Create Project"  onclick='newCustomProject();'>
	<button id="btnCancel" class="btn btn-embossed" onclick="closeWindow();">Cancel</button>
{% endblock %}

{% block body_js %}

	<script type="text/javascript">
		/* global $:false */

		'use strict';

		var response;
		var isSubscriptionListBuilt = false;
		var newProjectId;
		/* jshint ignore:start */
		var defaultSubscription = [
			"{{ mavensmate.ui.getDefaultSubscription()|join('", "') }}"
		];
		/* jshint ignore:end */

		function newCustomProject() {
			$.ajax({
				type: 'POST',
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				url: '{{ mavensmate.ui.getBaseUrl() }}/app/project',
				data: JSON.stringify({
					name: $('#pn').val(),
					accessToken: $('#accessToken').val(),
					refreshToken: $('#refreshToken').val(),
					instanceUrl: $('#instanceUrl').val(),
					package: getTree(),
					workspace: $('#workspace').val(),
					subscription: $('#subscription').val(),
					action: 'new'
				}),
				beforeSend: function() { showLoading('Creating new MavensMate project'); },
				complete: function(data){
					responseHandler(data);
				}
		 	});
		}

		function handleResponse(response) {
			console.log('handling response', response);
			if (response.error) {
				showMessage(response.error);
				notifySound();
			} else {
				hideMessage();
				newProjectId = response.result.id;
				$('#success-open-alert-message').html(response.result.message);
				$('#success-open-alert').show();
			}
			hideLoading();
		}

		$(function() {

			populateMetadataTree('...');

			$(window).resize(function() {
				resizeProjectWrapper(10);
			});

			window.resizeTo(DEFAULT_WINDOW_WIDTH, DEFAULT_WINDOW_HEIGHT);
			centerWindow();

			//submit form on enter
			$('.content').bind('keyup', function(e) {
				var code = (e.keyCode ? e.keyCode : e.which);
				 if(code === 13) { //enter pressed
				 	if ($('#un').val() && $('#pw').val() && $('#pn').val()) {
						$('#btnSubmit').click();
				 	}
				 }
			});
		});

		function buildSubcriptionList(orgMetadataTypes) {
			console.log('building sub list!');
			console.log(orgMetadataTypes);
			var htmlWithSelectOptions = '';
			for (var t in orgMetadataTypes) {
				var xmlName = orgMetadataTypes[t].xmlName;
				if ($.inArray( xmlName, defaultSubscription ) >= 0) {
					htmlWithSelectOptions += '<option value="'+xmlName+'" selected>'+xmlName+'</option>';
				} else {
					htmlWithSelectOptions += '<option value="'+xmlName+'">'+xmlName+'</option>';
				}
			}
			var selectList = '<select name="huge" class="select-block mbl info" style="display:none;" id="subscription" multiple="multiple" data-placeholder="Select 1 or more metadata types..." data-selected-text-format="count>3" data-size="20">';
			htmlWithSelectOptions = selectList+htmlWithSelectOptions+'</select>';
			console.log(htmlWithSelectOptions);
			$('#subscriptionWrapper > div').remove();
			$('#subscriptionWrapper > select').remove();
			$('#subscriptionWrapper').append(htmlWithSelectOptions);
			$('select.info').selectpicker({style: 'btn-info btn-embossed'});
			isSubscriptionListBuilt = true;
		}

		function populateMetadataTree(message) {
			try {
				renderBufferedTree({{ session.metadataTypes|json|safe }});
				if (!isSubscriptionListBuilt) {
					buildSubcriptionList({{ session.metadataTypes|json|safe }});
				}
				hideMessage();
				resizeProjectWrapper(10);
				hideLoading();
			} catch(e) {
				console.log(e);
				showMessage('The local MavensMate server did not respond properly. This likely means it is not running or it is malfunctioning. Try restarting your text editor and MavensMate.app.');
				notifySound();
				hideLoading();
			}
		}
	</script>
{% endblock %}