{% extends "views/layouts/base.html" %}
{% block yield %}
<div id="result_output">
	<div class="alert alert-error">
		<button type="button" class="close fui-cross"></button>
		<span id="error_message"></span>
	</div>
</div>

<div class="content">

	<ul class="nav nav-tabs nav-append-content">
		<li class="active"><a id="project_details_tab" href="#form" data-toggle="tab">Project Details</a></li>
	</ul>

	<div class="tab-content" id="main-tab-content">
		<div id="form" class="tab-pane active">
			<form class="form-stacked">
				<fieldset>
					<div class="control-group large">
						<select id="workspace" class="select-block mbl info span12"
							data-placeholder="Select a workspace" data-size="5">
							{% for m in mavensmate.ui.getWorkspaces() %}
								<option value="{{ m }}">{{ m }}</option>
							{% endfor %}
						</select>
					</div>

					<div class="control-group large">
						<input class="span12" disabled placeholder="Project Name" type="text" id="pn" value="{{ mavensmate.ui.getPathBaseName(directory) }}">
					</div>
					<div class="control-group large">
						<input class="span12" placeholder="Salesforce.com Username" type="text" id="un">
					</div>
					<div class="control-group large">
						<input class="span12" placeholder="Salesforce.com Password" type="password" id="pw">
					</div>

					 <div class="control-group large">
						<select id="org_type" class="select-block mbl info span12">
							<option value="production">Production</option>
							<option value="developer">Developer</option>
							<option value="sandbox">Sandbox</option>
							<option value="prerelease">Prerelease</option>
							<option value="custom">Custom URL</option>
						</select>
					</div>
					<div class="control-group large">
						<input class="span12" placeholder="Example: https://na1-blitz01.salesforce.com" type="text" id="custom-url" style="display:none;">
					</div>
				</fieldset>


			</form>
		</div>
	</div>

</div>

<input type="hidden" value="{{ directory }}" id="directory"/>

{% endblock %}


{% block buttons %}
	<input type="button" id="btnSubmit" class="btn btn-info btn-embossed" value="Create MavensMate Project"  onclick='new_project();'>
	<button id="btnCancel" class="btn btn-embossed" onclick="closeWindow();">Cancel</button>
{% endblock %}

{% block body_js %}

	<script type="text/javascript">
		var response;

		function new_project() {
			operation = "new";
			$.ajax({
				type: "POST",
				dataType: 'json',
				contentType: 'application/json; charset=utf-8',
				url: "{{ mavensmate.ui.getBaseUrl() }}/app/project/createFromExisting",
				data: JSON.stringify({
					name 			: $('#pn').val(),
					username 		: $('#un').val(),
					password 		: $('#pw').val(),
					orgType 		: $('#org_type').val(),
					workspace 		: $('#workspace').val(),
					subscription 	: $('#subscription').val(),
					loginUrl 		: $('#custom-url').val(),
					origin 			: $('#directory').val()
				}),
				beforeSend: function() { showLoading('Creating new MavensMate project'); },
				complete: function(data){
					responseHandler(data);
				}
		 	});
		}

		function handleResponse(response) {
			if (response.error) {
				showMessage(response.error);
				notifySound();
			} else {
				showMessage(response.result.message, 'success');
			}
			hideLoading();
		}

		$(function() {

		    window.resizeTo(DEFAULT_WINDOW_WIDTH, DEFAULT_WINDOW_HEIGHT);
		    centerWindow();

		    $("#org_type").change(function() {
		    	if ($(this).val() == 'custom') {
		    		$("#custom-url").show();
		    	} else {
		    		$("#custom-url").hide();
		    		$("#custom-url").val('');
		    	}
		    });

			//submit form on enter
			$(".content").bind('keyup', function(e) {
				var code = (e.keyCode ? e.keyCode : e.which);
				 if(code == 13) { //enter pressed
				 	if ($('#un').val() && $('#pw').val() && $('#pn').val())
						$("#btnSubmit").click();
				 }
			});
		});

	</script>
{% endblock %}