{% extends "views/layouts/base.html" %}
{% block yield %}
<script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/jquery.tablesorter.min.js" type="text/javascript"></script>
<style>
	.deploy_options label, .deploy_options div.divlabel {
		width:180px;
		font-weight: bold;
	}

	.deploy_options label {
		text-align: left;
	}

	.deploy_options .clearfix {
		margin-left: 20px;
		margin-bottom:10px;
	}

	.deploy_options input[type="checkbox"] {
		margin: 0px;
		width: 32px;
		float: left;
	}
	.deploy_options .clearfix label > div {
		float: left;
		width: auto;
		font-weight: bold;
		padding-top: 5px;
		cursor: pointer;
	}


	table.test_result {
		border-top:none;
	}
	table.test_result th, table.test_result td {
		padding:5px;
		line-height:1;
	}

	#connection_error_wrapper {
		display: none;
	}

	ul.nav .dropdown-menu {
		width:300px;
	}

	#package-selector div.btn-group.select.select-block.mbl.info {
		margin-bottom:12px;
	}

	div#filter {
		margin-bottom:12px;
	}

	div#filter > div.select {
		margin:0px;
	}

	div#filter > div.select > button {
		margin:10px 0px 0px 0px;
	}

	table.tablesorter th.sorter-true {
		cursor:pointer;
	}

	table.tablesorter th.sorter-true:hover {
		background: #f9f9f9;
	}

	table.tablesorter th.tablesorter-headerAsc,
	table.tablesorter th.tablesorter-headerDesc
	{
		background: #f6f6f6;
	}

</style>



<div class="content">

	<ul class="nav nav-tabs nav-append-content" id="main-tabs">
		<li class="active"><a href="#form" data-toggle="tab">Deploy Options</a></li>
		<li>
			<a href="#metadata" data-toggle="tab">
				Metadata &nbsp;&nbsp;
				<span onclick="refresh_index()" class="label" style="line-height:15px;cursor:pointer;">Refresh <i class="icon-refresh"></i></span>
			</a>
		</li>
		<li class="compare_results_hidden hidden dropdown active">
      		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
        		Compare Results
        		<b class="caret"></b>
      		</a>
      		<ul class="dropdown-menu" id="dropdown-compare-destinations">

      		</ul>
    	</li>
		<li class="results_hidden dropdown active">
      		<a class="dropdown-toggle" data-toggle="dropdown" href="#">
        		Deploy Results
        		<b class="caret"></b>
      		</a>
      		<ul class="dropdown-menu" id="dropdown-destinations">

      		</ul>
    	</li>
	</ul>

	<div class="tab-content" id="main-tab-content">
		<div id="form" class="tab-pane active debug-tab-pane">
			<form class="slds-form--stacked" style="padding-top:10px;">
				<fieldset>
					<div class="clearfix">
						<div class="row">
							<div class="span8">
								{% if connections.length === 0 %}
									<div class="slds-box slds-theme--info">
									 	<i class="icon-exchange icon-2x pull-left"></i>A deployment connection is a Salesforce.com org that you wish to deploy to from this MavensMate project.
									 	<div>
									 		<a href="/app/connections/new?pid={{project.settings.id}}" class="btn btn-success" >Manage Deployment Connections</a>
									 	</div>
									</div>
								{% else %}
									<label for="un_list" style="font-weight:bold;">Deployment Targets</label>
									<select name="huge" data-none-selected-text="No connection selected (You can create deployment connections via the org connections tab)" class="select-block mbl info" style="display:none;" id="un_list" multiple="multiple" data-placeholder="Select 1 or more connections...">
										{% for c in connections %}
											{% if loop.index0 == 0 %}
												{% set selected = 'selected="selected"' %}
											{% else %}
												{% set selected = '' %}
											{% endif %}
											<option {{ selected }} data-name="{{c.name}}" value="{{c.id}}">
												{{ c['name'] }}
											</option>
										{% endfor %}
									</select>
								{% endif %}
							</div>
						</div>
					</div>
					{% if connections.length > 0 %}
					<div class="slds-form-element">
						<div class="row">
							<div class="span8">
								<input style="width:100%" placeholder="Deployment Name, e.g. QA Deployment (optional)" type="text" id="new_deployment_name">
							</div>
						</div>
					</div>
					{% endif %}
				</fieldset>
			</form>

			{% if connections.length > 0 %}
			<form>
				<fieldset class="deploy_options" style="margin:0;padding-top:0px;">

					<div class="row-fluid" style="margin-bottom:10px;">
						<div class="span12">
							<label class="checkbox" for="check_only">
							  <input type="checkbox" checked="checked" value="" id="check_only" data-toggle="checkbox">
							  Validate Only
							</label>
						</div>
					</div>
					<div class="row" style="margin-bottom:10px;">
						<div class="span12">
							<label class="checkbox" for="rollback">
							  <input type="checkbox" checked="checked" value="" id="rollback" data-toggle="checkbox">
							  Rollback on Error
							</label>
						</div>
					</div>
					<div class="row" style="margin-bottom:10px;">
						<div class="span12">
							<label class="checkbox" for="run_tests">
							  <input type="checkbox" value="" id="run_tests" data-toggle="checkbox">
							  Run All Tests
							</label>
						</div>
					</div>
					<div class="row" style="margin-bottom:10px;">
						<div class="span12">
							<label class="checkbox" for="rollback">
							  <input type="checkbox" value="" id="ignoreWarnings" data-toggle="checkbox">
							  Ignore Warnings
							</label>
						</div>
					</div>
				</fieldset>
			</form>
			{% endif %}
		</div>

		<div id="metadata" class="tab-pane">
			<div class="slds-box slds-theme--info" id="filter">
				<input type="text" placeholder="Search for metadata" id="txtFilter" style="width:300px;height:35px;" />
				<a href="#" class="btn btn-success" id="search-btn" style="right:45px"><i class="icon-search"></i></a>
				<a href="#" class="btn btn-select" id="select-btn" ><i class="icon-check-empty"></i></a>
				<select id="selected_deployment_name" class="select-block mbl info" style="display:none;" data-placeholder="Select a deployment...">>
					{% for d in namedDeployments %}
						{% if loop.index0 == 0 %}
							{% set selected = 'selected="selected"' %}
						{% else %}
							{% set selected = '' %}
						{% endif %}
						<option value="{{d.path}}">{{d.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="project_wrapper">

				<div id="treewrapper">
					<div id="tree"></div>
					<div id="info"></div>
				</div>
			</div>
		</div>

	</div>
</div>

<div id="result" style="display:none;">

</div>


{% endblock %}


{% block buttons %}
	<input id="btnDeploy" type="button" class="slds-button slds-button--brand" value="Validate Deployment">
	{% include 'views/partials/cancel_button.html' %}
{% endblock %}

{% block body_js %}
<script type="text/javascript">
	var hasIndexedMetadata = {{ hasIndexedMetadata }};
	var operation;
	var PROJECT_WRAPPER_OFFSET = $("#filter").height() + 140;

	function isValidateOnly() {
		return $("#check_only").is(":checked");
	}

	function isRunTests() {
		return $("#run_tests").is(":checked");
	}

	function isRollbackOnError() {
		return $("#rollback").is(":checked");
	}

	function isIgnoreWarnings() {
		return $("#ignoreWarnings").is(":checked");
	}

	$(function() {
		$("#btnDeploy").click(function() {
			deploy();
		});

		$("#check_only").change(function() {
			var text = (this.checked)? 'Validate Deployment' : 'Deploy to Server';
			$("#btnDeploy").val(text);
		});

		$("#un_list").change(function() {
			if (this.value == 'new') {
				$("#un").val("");
				$("#un").show();
			} else {
				$("#un").hide();
				$("#un").val(this.value);
			}
		});

		$("ul.nav-tabs li a span").hover(
			$(this).toggleClass("label-success")
		)

		if ($("#un_list").val() != 'new') {
			$("#un").val($("#un_list").val());
		}

		$(window).resize(function() {

			resizeProjectWrapper(PROJECT_WRAPPER_OFFSET)
		});

		//render tree when tab is clicked, otherwise there's an extjs and it doesnt render
		$('a[data-toggle="tab"]').on('shown', function (e) {
			if (e.target.href.indexOf("metadata") != -1) {
				if (tree === undefined) {
					renderTree(PROJECT_WRAPPER_OFFSET, null, '{{ project.settings.id}}')
					setTimeout(resizeProjectWrapper(PROJECT_WRAPPER_OFFSET),500)
					resizeFilter()
				}
			}
		})

		if (!hasIndexedMetadata) {
			indexOrg();
		}

		$('#org_type').change(function() {
			if ($(this).val() === 'custom') {
				$('#custom-url').show();
			} else {
				$('#custom-url').hide();
				$('#custom-url').val('');
			}
		});

		$("#select-btn").click(function() {
			if ($(this).html().indexOf('icon-check-empty') !== -1) {
				$("#tree").dynatree("getRoot").visit(function(node){
					if ($("#txtFilter").val() == '') {
						if (node.data.cls !== 'hidden')
							node.select(true);
					} else {
						if (node.data.level != 1 && node.data.cls !== 'hidden')
							node.select(true);
					}
				});
				$(this).html('<i class="icon-check"></i>')
			} else {
				$("#tree").dynatree("getRoot").visit(function(node){
					if ($("#txtFilter").val() == '') {
						if (node.data.cls !== 'hidden')
							node.select(false);
					} else {
						if (node.data.level != 1 && node.data.cls !== 'hidden')
							node.select(false);
					}
				});
				$(this).html('<i class="icon-check-empty"></i>')
			}
		});

		$("#selected_deployment_name").change(function() {
			console.log('selected a deployment!');
			console.log(this.value);
			renderTree(140, this.value, '{{ project.settings.id}}');
		});

		$('label.checkbox input').checkbox();



		setTimeout(resizeProjectWrapper(PROJECT_WRAPPER_OFFSET),500)
	});

	function repopulateConnectionList(conns) {
		var connHtml = ''
		for (c in conns) {
			connHtml += '<option data-name="'+conns[c].name+'" value="'+conns[c].id+'">'
			connHtml += conns[c]['name']
			connHtml += '</option>'
		}
		$("#un_list").html(connHtml)
		$('#un_list').trigger("liszt:updated");
	}

	function indexOrg(refresh) {
		operation = "index"
		$.ajax({
			type: "POST",
			url: "{{ mavensmate.ui.getBaseUrl() }}/execute?async=1",
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify({
				command: 'index-metadata'
			}),
			beforeSend: function() { showLoading('Updating the metadata index for this project. This operation can take a few minutes in large orgs. To minimize indexing time, limit your project\'s subscription to only those metadata types you absolutely need.<br/><br/>Thanks for being patient! :)'); },
			complete: function(data, status, xhr){
				responseHandler(data)
			}
		});
	}

	function handleResponse(response) {
		console.log('handling responsE!!');
		console.log(operation);
		console.log(response);
		if (operation === "deploy") {
			if (response.error) {
				showMessage(response.error);
				toggleRunningIndicator();
				$("#btnDeploy").show();
				notifySound();
			} else {
				$(".result_wrapper").remove()

				$("#result").html(response.result.html);

				$("#dropdown-destinations").html($("#destination_options ul").html());
				$("#destination_options").remove()

				var targets = Object.keys(response.result.object);
				var isSuccess = true;
				for (var i in targets) {
					var targetUsername = targets[i];
					if (!response.result.object[targetUsername].success) {
						isSuccess = false;
						break;
					}
				}
				if (isSuccess) {
					$("#check_only").attr('checked', false);
					$("#check_only").parent().removeClass('checked')
					$("#btnDeploy").val('Deploy to Server');
				}

				$("#main-tab-content").append($("#extra_tabs").html());
				$("#extra_tabs").remove()

				$('.nav-tabs a').click(function (e) {
				  e.preventDefault();
				  $(this).tab('show');
				})

				$(".results_hidden").show();
				$("ul#main-tabs > li.active").removeClass('active')
				$("div#main-tab-content > div.active").removeClass('active')
				$("#result-0").addClass('active')
				$('li.dropdown ul li a.test_result_link').tab('show');
				$(".results_hidden").addClass('active');

				toggleRunningIndicator();
				$("#btnDeploy").show();
				notifySound();
			}
		} else if (operation == "index") {
			if (response.error) {
				showMessage(response.error)
			} else {
				if (tree === undefined) {
					renderTree(PROJECT_WRAPPER_OFFSET, null, '{{ project.settings.id}}');
				} else {
					$("#tree").dynatree("getTree").reload();
				}
			}
			resizeProjectWrapper(PROJECT_WRAPPER_OFFSET);
			notifySound();
			hideLoading();
		}
	}

	function getDestinationUsernames() {
		var selectOptions = $("#un_list option:selected");
		var usernames = [];
		$( selectOptions ).each(function() {
			usernames.push($(this).data('name'));
		});
		return usernames;
	}

	function deploy() {
		operation = "deploy"
		$.ajax({
			type: "POST",
			url: "{{ mavensmate.ui.getBaseUrl() }}/app/deploy",
			dataType: 'json',
			contentType: 'application/json; charset=utf-8',
			data: JSON.stringify({
				destinations: $("#un_list").val(), // list of org connection ids
		    usernames: getDestinationUsernames(),
		    package: getTree(),
		    deploymentName: $("#new_deployment_name").val(),
		    debugCategories: getLogLevelsJson(),
		    ui: true,
		    deployOptions: {
		    	rollbackOnError: isRollbackOnError(),
		    	performRetrieve: true,
		    	checkOnly: isValidateOnly(),
		    	ignoreWarnings: isIgnoreWarnings(),
		    	runAllTests: isRunTests()
		    }
			}),
			beforeSend: function() { toggleRunningIndicator(); $("#btnDeploy").hide(); $("#btnCompare").hide();  },
			complete: function(data){
				responseHandler(data)
			}
	 	});
	}

	function refresh_index() {
		indexOrg(true);
	}

</script>

{% endblock %}