<html>
<head>
    {% if project && project.sfdcClient && title %}
        <title>MavensMate | {{project.name}} | {{title}}</title>
    {% elif title %}
        <title>MavensMate | {{title}}</title>
    {% else %}
        <title>MavensMate</title>
    {% endif %}
    <link rel="icon" type="image/png" href="{{ mavensmate.ui.getStaticResourcePath() }}/images/favicon.png">
    <link rel="stylesheet" href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/styles/salesforce-lightning-design-system.css"></link>
    <link rel="stylesheet" href="{{ mavensmate.ui.getStaticResourcePath() }}/css/mavensmate-new.css"></link>
    <link rel="stylesheet" href="{{ mavensmate.ui.getStaticResourcePath() }}/css/dynatree.css"></link>
    <link rel="stylesheet" href="{{ mavensmate.ui.getStaticResourcePath() }}/css/prettify.css"></link>
    <script>
        var baseLocalServerURL = '{{ mavensmate.ui.getBaseUrl() }}';
    </script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/bluebird.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/lodash.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/jquery.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/jqueryui.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/js/jquery.aljs-init.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/js/jquery.aljs-tabs.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/js/jquery.aljs-picklist.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/js/jquery.aljs-modal.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/js/jquery.aljs-notification.min.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/js/jquery.aljs-multi-select.min.js" type="text/javascript"></script>

    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/mavensmate.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/dynatree2.js" type="text/javascript"></script>
    <script src="{{ mavensmate.ui.getStaticResourcePath() }}/js/prettify.js" type="text/javascript"></script>
    <script>
        var mavensmate = {};
        mavensmate.request = function(opts) {
          var self = this;
          if (opts.async === undefined)
            opts.async = true;
          this.async = opts.async; // poll the server
          this.ajax = opts.ajax;
          this.ajax.dataType = opts.ajax.dataType || 'json';
          this.ajax.contentType = this.ajax.contentType || 'application/json; charset=utf-8';
          this.message = opts.message;
          this._getAsyncResult = function(requestId) {
            console.log('polling for async result...', requestId);
            return new Promise(function(resolve, reject) {
              function _pollForAsyncResult(requestId) {
                var req = $.ajax({
                  type: 'GET',
                  url: '{{ mavensmate.ui.getBaseUrl() }}/execute/'+requestId
                });
                req
                  .success(function(res) {
                    if (res.status === 'pending') {
                      console.log('request still pending', res);
                      setTimeout(function() { _pollForAsyncResult(requestId); }, 1000);
                    } else {
                      console.log('async polling done', res);
                      resolve(res);
                    }
                  })
                  .error(function(err) {
                    reject(err);
                  });
              }
              _pollForAsyncResult(requestId);
            });
          };
          return new Promise(function(resolve, reject) {
            hideToast();
            var loadingPromise = self.async && self.message ? showLoading(self.message.label, self.message.detail) : Promise.resolve();
            loadingPromise
              .then(function() {
                var req = $.ajax(self.ajax)
                console.log(req);
                req
                  .success(function(res) {
                    console.log('ajax call completed successfully, response is:', res);
                    if (self.async) {
                      if (res.status === 'pending' && res.id) {
                        self._getAsyncResult(res.id)
                          .then(function(res) {
                            console.log('polling complete', res);
                            if (res.error) {
                              showToast(res.error, 'error');
                              reject(res);
                            } else {
                              resolve(res);
                            }
                          })
                          .catch(function(err) {
                            reject(err);
                          });
                      } else {
                        console.error(res);
                        reject(new Error('Could not retrieve asynchronous response from server'))
                      }
                    } else {
                      resolve(res);
                    }
                  })
                  .error(function(err) {
                    console.error('ajax call failed', err);
                    reject(err);
                  });
              })
              .catch(function(err) {
                reject(err);
              });
          });
        };

        var tree;

        var headers = { 'MavensMate-Editor-Agent': '{{ editor }}' };
        {% if project && project.settings && project.settings.id %}
          headers['MavensMate-pid'] = '{{ project.settings.id }}';
        {% endif %}

        $.ajaxSetup({
          headers: headers
        });

        $(function() {
          $('[data-aljs="modal"]').modal();
          $('body').notification();

          //focus first input
          $("input[type='text']:first").focus();

          $("#txtFilter").bind('keyup', function(e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                submitSearch();
            }
          });
          $("#search-btn").click(function() {
            if ($(this).hasClass('btn-success')) {
                submitSearch();
            } else {
                clearFilter();
            }
          });

          // project list
          $('.project-checkbox').on('change.radiocheck', function() {
            $('#selectedProject').val($(this).data('pid'));
            $('.project-checkbox').not($(this)).attr('checked', false);
            $('.project-checkbox').not($(this)).parent().removeClass('checked');
          });

          $('.item-search.project-list input').change(function() {
             var thevalue = $(this).val().toLowerCase();
             $('#project-list-wrapper').find('div.alert label').each(function() {
                 var metaname = $(this).html().toLowerCase();
                 if (metaname.indexOf(thevalue) === -1) {
                     $(this).parent().hide();
                 } else {
                     $(this).parent().show();
                 }
             });
           })
           .keyup(function() {
               $(this).change();
           });

          $("#btn-open-project").on('click', function() {
            $("#btn-open-project").html('Opening...').addClass('disabled');
            $("#btn-cancel-open-project").html('Opening...').addClass('disabled');
            window.location = '{{ mavensmate.ui.getBaseUrl() }}/app/home?pid='+$("#selectedProject").val();
          });
          $("#btn-cancel-open-project").on('click', function() {
            $('#global-project-modal').modal('dismiss');
          });
        });

        function showLoading(msg, detail) {
          return new Promise(function(resolve, reject) {
            try {
              msg = msg || 'Loading...';
              $('#global-loading-modal h2').html(msg);
              if (detail) {
                $('#global-loading-modal p').html(detail);
                $('#global-loading-modal p').show();
              } else {
                $('#global-loading-modal p').html('');
                $('#global-loading-modal p').hide();
              }
              $('#global-loading-modal').modal('show');
              $('#global-loading-modal').on('shown.aljs.modal', function(evt) {
                resolve();
              });
            } catch(e) {
              console.error('Could not show global loading indicator', e);
              reject(e);
            }
          });
        }

        function hideLoading() {
          return new Promise(function(resolve, reject) {
            try {
              $('#global-loading-modal').modal('dismiss');
              $('#global-loading-modal').on('dismissed.aljs.modal', function(evt) {
                resolve();
              });
            } catch(e) {
              console.error('Could not hide global loading indicator', e);
              reject(e);
            }
          });
        }

        function notifySound() {
          if ({{ mavensmate.ui.config.get('mm_play_sounds') }}) {
            var snd = new Audio('{{ mavensmate.ui.getStaticResourcePath() }}/sounds/ding.mp3'); // buffers automatically when created
            snd.play();
          }
        }

        function submitSearch() {
          var filter = $('#txtFilter').val();
          if (filter && filter.length > 2) {
            $('#tree').dynatree('option', 'initAjax',
              {
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                url: baseLocalServerURL+'/execute',
                data: JSON.stringify({
                  keyword: filter,
                  ids: $('#tree').dynatree('getTree').selectedIds,
                  command: 'search-metadata-index'
                })
              }
            );
            $('#tree').dynatree('getTree').reload();
            $('#search-btn').removeClass('btn-success').addClass('btn-danger').html('<i class="icon-remove"></i>')
          }
        }

        function clearFilter() {
            $('#tree').dynatree('option', 'initAjax',
                {
                    type     : 'POST',
                    dataType : 'json',
                    contentType: 'application/json; charset=utf-8',
                    url      : baseLocalServerURL+'/execute',
                    data     : JSON.stringify({
                        path                : '{{ project.path }}',
                        ids                 : $('#tree').dynatree('getTree').selectedIds,
                        command             : 'search-metadata-index'
                    })
                }
            );
            $('#tree').dynatree('getTree').reload();
            $('#txtFilter').val('');
            $('#txtFilter').focus();
            $("#search-btn").removeClass('btn-danger').addClass('btn-success').html('<i class="icon-search"></i>');
        }

        function openProjectInEditor(editor, pid) {
          pid = pid || '{{project.settings.id}}';

          var opts = {
            async: false,
            ajax: {
              type: 'GET',
              url: baseLocalServerURL+'/execute',
              data: {
                command: 'open-project',
                editor: editor,
                pid: pid
              }
            }
          };

          mavensmate.request(opts)
            .then(function(response) {
              showToast(response.message, 'success');
              // todo: custom action; indexOrg(true);
            })
            .catch(function(err) {
              console.error('could not update subscription', err);
            })
            .finally(function() {
              hideLoading();
            });
        }

        function showToast(msg, severity, detail, delay) {
          severity = severity || 'info';
          if (severity === 'success' && !delay)
            delay = 3000;
          $('#toast').addClass('slds-theme--'+severity);
          $('#toast h2').html(msg);
          $('#toast p').html(detail);
          $('#toast').notification('show');
          var symbolsHref = $('#toast svg.slds-icon use').attr('xlink:href').split('#')[0];
          if (severity === 'error') {
            symbolsHref += '#warning';
          } else if (severity === 'info') {
            symbolsHref += '#info';
          } else if (severity === 'success') {
            symbolsHref += '#check';
          }
          $('#toast svg.slds-icon use').attr('xlink:href', symbolsHref);
          if (delay) {
            setTimeout(function() {
              $('#toast').notification('dismiss');
            }, delay);
          }
        }

        function hideToast() {
          $('#toast').notification('dismiss');
        }

        function openProjectModal() {
          $('#global-project-modal').modal('show');
          $('#global-project-modal input:text:visible:first').focus();
        }

        $(function() {
          $('.menu-item-with-submenu').on('click', function(evt) {
            if (!$(this).parent().hasClass('slds-is-open')) {
              closeSubMenus();
              openSubMenu(this);
            } else {
              closeSubMenus();
            }
            evt.stopPropagation();
          });
          $(window).click(function() {
            closeSubMenus();
          });
        });

        function closeSubMenus() {
          $('#left-menu .slds-dropdown-trigger').removeClass('slds-is-open');
          $('#left-menu .slds-dropdown-trigger').attr('aria-expanded', 'false');
        }

        function openSubMenu(el) {
          $(el).parent().toggleClass('slds-is-open');
          var ariaExpanded = $(el).parent().attr('aria-expanded');
          if (ariaExpanded === 'false') {
            $(el).parent().attr('aria-expanded','true');
          } else {
            $(el).parent().attr('aria-expanded','false');
          }
          $(el).parent().find('.slds-dropdown').css('right', '-252px');
          $(el).parent().find('.slds-dropdown').css('top', '-19px');
        }
    </script>
</head>
<body id="body" class="{{ editor }} {% block body_class %}{% endblock %}">
    <div class="slds-grid slds-grid--vertical-stretch slds-grid--frame">

      <div id="frame-left-column" class="slds-p-bottom--large slds-theme--alt-inverse">
        <div class="slds-grid slds-grid--vertical slds-grid--align-center slds-p-top--medium slds-p-bottom--medium" id="left-menu">
          <div class="slds-col--padded slds-align--absolute-center slds-m-bottom--medium">
            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="false">
              <button class="slds-button slds-button--icon-border-inverse menu-item-with-submenu slds-icon_container slds-icon-standard-account">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/app/static/lds/assets/icons/utility-sprite/svg/symbols.svg#open_folder"></use>
                </svg>
                <span class="slds-assistive-text">More Options</span>
              </button>
              <div class="slds-dropdown slds-dropdown--right slds-dropdown--small slds-nubbin--left-top slds-dropdown--actions">
                <div class="slds-dropdown__header">
                  <span class="slds-text-heading--label">Project</span>
                </div>
                <ul class="dropdown__list" role="menu">
                  <li class="slds-dropdown__item">
                    <a href="/app/project/new" role="menuitem">
                      <p class="slds-truncate">New Project</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="javascript:void(0)" role="menuitem" onclick="openProjectModal()">
                      <p class="slds-truncate">Open Project</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/project/{{project.settings.id}}/edit?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">Edit Project</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/project/{{project.settings.id}}/auth?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">Authentication</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slds-col--padded slds-align--absolute-center slds-m-bottom--medium">
            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="false">
              <button class="slds-button slds-button--icon-border-inverse menu-item-with-submenu">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/app/static/lds/assets/icons/utility-sprite/svg/symbols.svg#page"></use>
                </svg>
                <span class="slds-assistive-text">More Options</span>
              </button>
              <div class="slds-dropdown slds-dropdown--right slds-dropdown--small slds-nubbin--left-top slds-dropdown--actions">
                <div class="slds-dropdown__header">
                  <span class="slds-text-heading--label">Metadata</span>
                </div>
                <ul class="dropdown__list" role="menu">
                  <li class="slds-dropdown__item">
                    <a href="/app/metadata/ApexClass/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Apex Class</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/metadata/ApexTrigger/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Apex Trigger</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/metadata/ApexComponent/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Visualforce Component</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/metadata/ApexPage/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Visualforce Page</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="slds-col--padded slds-align--absolute-center slds-m-bottom--medium">
            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="false">
              <button class="slds-button slds-button--icon-border-inverse menu-item-with-submenu">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/app/static/lds/assets/icons/utility-sprite/svg/symbols.svg#connected_apps"></use>
                </svg>
                <span class="slds-assistive-text">More Options</span>
              </button>
              <div class="slds-dropdown slds-dropdown--right slds-dropdown--small slds-nubbin--left-top slds-dropdown--actions">
                <div class="slds-dropdown__header">
                  <span class="slds-text-heading--label">Lightning</span>
                </div>
                <ul class="dropdown__list" role="menu">
                  <li class="slds-dropdown__item">
                    <a href="/app/lightning/app/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Lightning App</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/lightning/component/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Lightning Component</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/lightning/event/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Lightning Event</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/lightning/interface/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">New Lightning Interface</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="slds-col--padded slds-align--absolute-center slds-m-bottom--medium">
            <div class="slds-dropdown-trigger slds-dropdown-trigger--click" aria-expanded="false">
              <button class="slds-button slds-button--icon-border-inverse menu-item-with-submenu">
                <svg aria-hidden="true" class="slds-button__icon">
                  <use xlink:href="/app/static/lds/assets/icons/utility-sprite/svg/symbols.svg#socialshare"></use>
                </svg>
                <span class="slds-assistive-text">More Options</span>
              </button>
              <div class="slds-dropdown slds-dropdown--right slds-dropdown--small slds-nubbin--left-top slds-dropdown--actions">
                <div class="slds-dropdown__header">
                  <span class="slds-text-heading--label">Deploy</span>
                </div>
                <ul class="dropdown__list" role="menu">
                  <li class="slds-dropdown__item">
                    <a href="/app/connections/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">Deployment Connections</p>
                    </a>
                  </li>
                  <li class="slds-dropdown__item">
                    <a href="/app/deploy/new?pid={{project.settings.id}}" role="menuitem">
                      <p class="slds-truncate">Deploy to Server</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>


          <div class="slds-col--padded slds-align--absolute-center slds-m-bottom--medium">
            <button class="slds-button slds-button--icon-border-inverse">
              <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/app/static/lds/assets/icons/utility-sprite/svg/symbols.svg#summary"></use>
              </svg>
              <span class="slds-assistive-text">More Options</span>
            </button>
          </div>
          <div class="slds-col--padded slds-align--absolute-center slds-m-bottom--medium">
            <button class="slds-button slds-button--icon-border-inverse">
              <svg aria-hidden="true" class="slds-button__icon">
                <use xlink:href="/app/static/lds/assets/icons/utility-sprite/svg/symbols.svg#salesforce1"></use>
              </svg>
              <span class="slds-assistive-text">More Options</span>
            </button>
          </div>
        </div>
      </div>

      <div id="frame-right-column" class="slds-p-bottom--large">
        <div class="" role="banner" id="page-header">
          <div class="slds-grid">
            <div class="slds-col slds-has-flexi-truncate">
              <div class="slds-media slds-media--center slds-no-space slds-grow">
                <div class="slds-media__figure">
                  {% if project && project.sfdcClient %}
                      <a href="{{ mavensmate.ui.getBaseUrl() }}/app/home?pid={{project.settings.id}}">
                        <img src="{{ mavensmate.ui.getStaticResourcePath() }}/images/logo2.png" id="mmlogo"/>
                      </a>
                  {% else %}
                      <a href="{{ mavensmate.ui.getBaseUrl() }}/">
                        <img src="{{ mavensmate.ui.getStaticResourcePath() }}/images/logo2.png" id="mmlogo"/>
                      </a>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-bottom">
              {% block buttons %}{% endblock %}
              <button class="slds-button slds-button--icon">
                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                  <use xlink:href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/icons/utility-sprite/svg/symbols.svg#help"></use>
                </svg>
                <span class="slds-assistive-text">Help</span>
              </button>

              <button class="slds-button slds-button--icon">
                <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
                  <use xlink:href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/icons/utility-sprite/svg/symbols.svg#settings"></use>
                </svg>
                <span class="slds-assistive-text">Settings</span>
              </button>

              <img style="border-radius:4px;height:30px;margin-left: 0.4rem;" src="https://c.na34.content.force.com/profilephoto/005/T?oauth_token=00D61000000ZPlo!AQ8AQKG_Yc5SqFzRiL8t29.exArGemcnIeN3lU2GBfikQ1AQ8bc3.QgnyYm7dubeV7fKnMQRI7Lct9NhJTajJzNMXdx00gzg"/>
            </div>
          </div>
        </div>

        <div class="slds-container--fluid" id="main-wrapper">
          {% block yield %}{% endblock %}
        </div>
      </div>
    </div>
    {% block body_js %}{% endblock %}

    <!-- GLOBAL TOAST -->
    <div class="slds-notify_container">
      <div class="slds-notify slds-notify--toast slds-hide" role="alert" id="toast">
        <span class="slds-assistive-text">Error</span>
        <button class="slds-button slds-button--icon-inverse slds-notify__close" data-aljs-dismiss="notification">
          <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
            <use xlink:href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close</span>
        </button>
        <div class="slds-notify__content slds-grid">
          <svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--small slds-col slds-no-flex">
            <use xlink:href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/icons/utility-sprite/svg/symbols.svg#warning"></use>
            <use xlink:href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
            <use xlink:href="{{ mavensmate.ui.getStaticResourcePath() }}/lds/assets/icons/utility-sprite/svg/symbols.svg#info"></use>

          </svg>
          <div class="slds-col slds-align-middle">
            <h2 class="slds-text-heading--small"></h2>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <!-- LOADING MODAL -->
    <div aria-hidden="true" role="dialog" class="slds-modal slds-fade-in-open slds-hide" id="global-loading-modal">
        <div class="slds-modal__container">
            <div class="slds-modal__header">
                <h2 class="slds-text-heading--medium"></h2>
            </div>
            <div class="slds-modal__content slds-p-around--medium">
                <div style="position:relative;min-height:70px;">
                  <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                  </div>
                </div>
                <p class="slds-m-top--medium" style="text-align:center;"></p>
            </div>
        </div>
    </div>

    <!-- PROJECT MODAL -->
    <div aria-hidden="true" role="dialog" class="slds-modal slds-fade-in-open slds-hide" id="global-project-modal">
        <div class="slds-modal__container">
            <div class="slds-modal__header">
                <h2 class="slds-text-heading--medium">Select Project</h2>
            </div>
            <div class="slds-modal__content slds-p-around--medium">
              <div class="item-search project-list">
                <input class="slds-input" type="text" placeholder="Search" id="projectSearch">
              </div>
              <input type="hidden" id="selectedProject"/>
              <div id="project-list-wrapper" style="height:275px;padding:5px 0px;overflow: scroll;transform: translate3d(0,0,0);">
                {% for p in mavensmate.ui.listProjects() %}
                  <div class="alert alert-info" style="padding:10px;margin-bottom:5px;">
                    <label class="checkbox" for="chk-{{p.id}}" style="margin:0px;">
                      <input type="checkbox" class="project-checkbox" value="" id="chk-{{p.id}}" data-pid="{{p.id}}" data-toggle="checkbox">
                      {{ p.path }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="slds-modal__footer">
              <button class="slds-button slds-button--neutral" id="btn-cancel-open-project">Cancel</button>
              <button class="slds-button slds-button--neutral slds-button--brand" id="btn-open-project">Open</button>
            </div>
        </div>
    </div>
</body>
</html>
